<div class="gallery">
    <img src="/images/picture01.jpeg" alt="Miyavi">
    <img src="/images/picture02.jpeg" alt="Miyavi">
    <img src="/images/picture03.jpeg" alt="Miyavi">
    <img src="/images/picture04.jpeg" alt="Miyavi">
    <img src="/images/picture05.jpeg" alt="Miyavi">
</div>