<h1>His Work</h1>
<h3>His Discography</h3>
<ul>
    {{#each discography}}
        <li>{{name}}, {{date}}</li>
    {{/each}}
</ul>
<h3>His Filmography</h3>
<ul>
    {{#each filmography}}
        <li>{{name}}</li>
    {{/each}}
</ul>